<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="telegram.bot" level="DEBUG"/>
    <logger name="mafoverlay" level="DEBUG"/>
    <logger name="online.mafoverlay.TournamentService" level="DEBUG"/>
    <logger name="online.mafoverlay.NotificationService" level="DEBUG"/>
</configuration>